@font-face {
    font-family: 'Comic Sans';
    src: url('/fonts/ComicSansMS3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact';
    src: url('/fonts/impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: Comic Sans;
    font-size: 1.1em;
}

.top-left {
    position: absolute;
    top: 1em;
    margin-top: 0.5em;
    left: 2em;
    z-index: 1000;
}

.top-right {
    position: absolute;
    top: 1em;
    margin-top: 0.5em;
    right: 2em;
    z-index: 1000;
}

.sqbtn {
    text-align: center;
    margin: 0.5em;
}

.sqbtn>a {
    font-size: 0.8em;
}

.sqbtn>a>i {
    font-size: 1.8em;
}

.container {
    position: relative;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 2em;
    padding-top: 0.5em;
    min-height: 105%;
    width: 120%;
    z-index: 200;
}

.subcontainer {
    padding: 1.5em;
    background-color: #444444;
    border: 0.05em solid #222222;
    overflow: hidden;
}

h1 {
    font-size: 3.75em;
    font-family: Impact;
    margin: 1.25em;
}

a {
    color: #444444;
    text-decoration: none;
}

a:hover {
    color: #777777;
}

.center {
    margin: auto;
    position: relative;
    text-align: center;
    top: 15%;
    width: 80%;
}

.title {
    margin: auto;
    position: relative;
    text-align: center;
    font-size: 2.2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.title button {
    margin: 0.1em;
}

.userctrl {
    text-decoration: none;

    position: absolute;
    top: 0;
    margin-top: 0;
    right: 5%;
    height: 3em;
    padding-top: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 1000;

    background-color: #d3d3d3;
    border: gray;
    color: #333333;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.userctrl a {
    color: #333333;
    text-decoration: none;
}

.leftside {
    text-decoration: none;

    position: absolute;
    top: 4em;
    margin-top: 0;
    left: 0;
    width: 3em;
    padding-top: 0.7em;
    padding-left: 0.2em;
    padding-bottom: 0.7em;
    z-index: 1000;

    background-color: #d3d3d3;
    border: gray;
    color: #333333;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.leftside a {
    color: #333333;
    text-decoration: none;
}

.question {
    font-size: 1.875em;
    height: 2em;
    border: none;
    resize: none;
}

.answer {
    font-size: 1.25em;
    height: 8em;
    border: none;
    resize: none;
}

.control-btn {
    text-align: center;
    width: 8em;
    z-index: 100;
}

.control-btn-left {
    margin-right: 3.75em;
}

.control-btn-right {
    margin-left: 3.75em;
}

.control-btn-top {
    margin-bottom: 0.625em;
}

.control-btn-center {
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

.control-btn-bottom {
    margin-top: 0.625em;
}

.footer {
    z-index: 100;
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
    font-size: 0.75em;
    margin-top: 4em;
    padding: 4em;
    color: #ffffff;
    background-color: #333333;
    border-top: #555555 solid;
    border-top-width: 0.5em;
}

.footer a {
    color: #ffffff;
}

.book-side {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 3em;
    width: 30em;
    height: 100%;
    background-color: #aaaaaa;
    opacity: 0.95;
    border-radius: 0.5em;
}

.book-side-content {
    margin: 1.5em;
    padding: 1.5em;
    padding-bottom: 0;
    z-index: 102;
    opacity: 1;
    color: black;
}

.book-side-content-scroll {
    margin: 1.5em;
    padding: 1.5em;
    z-index: 102;
    opacity: 1;
    color: black;

    height: 80%;
    width: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}

.book {
    padding: 1em;
}

.loader {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    font-size: 1.6em;
    padding: 0.5em;
    background-color: #999999;
    opacity: 0.8;
    border-bottom-right-radius: 0.5em;
}

.rect {
    margin: 0.5em;
    padding: 1em;
    width: 90%;
    border: 0.05em solid #aaaaaa;
    border-radius: 0.5em;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.rect:hover {
    border: 0.05em solid skyblue;
    box-shadow: 0 0 0.5em skyblue;
}

.rect-title {
    font-size: 1.2em;
}

.rect-content {
    font-size: 0.8em;
}

.nametag {
    color: white;
    font-size: 0.6em;
    text-shadow: 0.05em 0.05em 0.05em black;
    padding: 0.3em;
    border-radius: 0.25em;
}

.choice {
    margin: auto;
    margin-bottom: 0.5em;
    padding: 0.4em;
    text-align: center;
    width: 60%;
    border: #aaaaaa solid;
    border-radius: 0.5em;
}

.choice-circle {
    float: left;
    width: 1em;
    height: 1em;
    margin: 0.25em;
    border: #aaaaaa solid;
    background: #dddddd solid;
    border-radius: 100%;
}

.btn {
    margin: 0.2em;
}

.table-light {
    --bs-table-bg: #ffffff;
    --bs-table-active-bg: #bbbbbb;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #cccccc;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #cccccc;
}

.table-light-subcontainer {
    --bs-table-bg: #eeeeee;
    --bs-table-active-bg: #bbbbbb;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #cccccc;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #cccccc;
}

.table-dark {
    --bs-table-bg: #333333;
    --bs-table-active-bg: #666666;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #555555;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #cccccc;
}

.table-dark-subcontainer {
    --bs-table-bg: #444444;
    --bs-table-active-bg: #666666;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #555555;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #cccccc;
}

.selected {
    background-color: #aaaaaa;
}