@font-face {
    font-family: 'Comic Sans';
    src: url('/fonts/ComicSansMS3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: Comic Sans;
    font-size: 1.1em;
}

.top-left {
    position: absolute;
    top: 1em;
    margin-top: 0.5em;
    left: 2em;
    z-index: 100;
}

.top-right {
    position: absolute;
    top: 1em;
    margin-top: 0.5em;
    right: 2em;
    z-index: 100;
}

h1 {
    font-size: 3.75em;
    font-family: Impact;
    margin: 1.25em;
}

a {
    text-decoration: none;
    color: #333333;
}

.center {
    margin: auto;
    position: relative;
    text-align: center;
    top: 15%;
    width: 80%;
}

.title {
    margin: auto;
    position: relative;
    text-align: center;
    font-size: 2.2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.question {
    font-size: 1.875em;
    height: 1.875em;
    border: none;
    resize: none;
}

.answer {
    font-size: 1.25em;
    height: 10em;
    border: none;
    resize: none;
}

.control-btn {
    text-align: center;
    width: 8em;
    z-index: 100;
}

.control-btn-left {
    margin-right: 3.75em;
}

.control-btn-right {
    margin-left: 3.75em;
}

.control-btn-top {
    margin-bottom: 0.625em;
}

.control-btn-center {
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

.control-btn-bottom {
    margin-top: 0.625em;
}

.footer {
    z-index: 100;
    position: relative;
    float: left;
    top: 20%;
    width: 100%;
    text-align: left;
    font-size: 0.75em;
    padding: 4em;
    color: #ffffff;
    background-color: #333333;
}

.slide {
    position: fixed;
    z-index: 101;
    top: 0;
    left: -60%;
    width: 60%;
    height: 100%;
    background-color: #aaaaaa;
    opacity: 0.8;
}

.slide-content {
    margin: 1.5em;
    padding: 1.5em;
    padding-bottom: 0;
    z-index: 102;
    opacity: 1;
    color: black;
}

.slide-content-scroll {
    margin: 1.5em;
    padding: 1.5em;
    z-index: 102;
    opacity: 1;
    color: black;

    height: 80%;
    width: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}

.book {
    padding: 1em;
}