html,
body {
    font-size: 1.6em;
}

h1 {
    font-size: 2.8em;
    margin-left: 0em;
    margin-right: 0em;
}

h2 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

.c3 text {
    font-size: 1.8em;
}

.progress {
    font-size: 0.8em;
}

td {
    font-size: 0.8em;
}

.sub-div {
    font-size: 0.8em;
}

.btn {
    font-size: 0.8em;
}

.sub-div .btn {
    font-size: 0.6em;
}

.footer {
    font-size: 0.8em;
}

.sub-div .btn .fa {
    font-size: 1em;
}

#footer-text {
    margin-left: 1em;
    margin-bottom: 1em;
}

.noty_theme__mint.noty_bar .noty_body {
    font-size: 0.8em;
}

#noty_layout__topRight {
    top: 4em;
    right: 1em;
}

.input-group>input {
    font-size: 1em;
}

.input-group>span {
    font-size: 1em;
}

.title {
    font-size: 1.8em;
    margin-top: 1.6em;
    padding: 0.2em;
}

.big-title {
    font-size: 3.8em;
}

.btn {
    border-radius: 0.5em;
    font-size: 0.8em;
}

.btn-sm {
    border-radius: 0.5em;
    font-size: 0.7em;
}

.container {
    padding: 0.5em;
    margin: 0;
}

.subcontainer {
    padding: 1em;
    min-width: 100%;
    min-width: calc(100% - 0.5em);
    max-width: calc(100% - 0.5em);
}

.modal-dialog {
    max-width: 800px;
    margin: 10em auto;
}

.center {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.notifications {
    min-width: 100%;
    max-width: 100%;
    display: inline-block;
}

.choice {
    width: 80%;
}

.table_search {
    width: 100%;
}

.table_range {
    width: 100%;
}

table .btn {
    font-size: 1em;
}

.modal-content {
    border-radius: 1rem;
}

.noty_layout {
    min-width: 50%;
    max-width: 100%;
    font-size: 0.8em;
}

.editor-toolbar a,a::before {
    margin: 0.25em;
}

.editor-toolbar i.separator {
    margin-left: 0.6em;
    margin-right: 0;
}

.editor-toolbar a.fa-link {
    margin-right: 0.7em
}

.editor-toolbar a.fa-list-ol,
a.fa-eye,
a.fa-image {
    margin-right: 0.5em
}