html,
body {
    font-family: Comic Sans;
    font-size: 1.6em;
}

h1 {
    font-size: 2.8em;
    margin-left: 0em;
    margin-right: 0em;
}

#refresh-btn {
    font-size: 0.5em;
}

h2 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
}

td {
    font-size: 0.8em;
}

.noty_theme__mint.noty_bar .noty_body {
    font-size: 0.8em;
}

#noty_layout__topRight {
    top: 4em;
    right: 1em;
}

.input-group>input {
    font-size: 1em;
}

.input-group>span {
    font-size: 1em;
}

.title {
    font-size: 1.8em;
    margin-top: 1.4em;
    padding: 0.2em;
}

.big-title {
    font-size: 3.8em;
}

.btn {
    border-radius: 0.5em;
    font-size: 0.8em;
}

.btn-sm {
    border-radius: 0.5em;
    font-size: 0.7em;
}

.container {
    padding: 1em;
    max-width: 100%;
}

.subcontainer {
    padding: 1em;
}

.modal-dialog {
    max-width: 800px;
    margin: 10em auto;
}

.choice {
    width: 80%;
}

.center {
    margin-left: 0;
    margin: auto;
    width: 95%;
}

.table_search {
    width: 100%;
}

.table_range {
    width: 100%;
}