<style>h1,h2,p,input{font-family: 'Comic Sans MS'; src: url('/static/ComicSansMS3.ttf') format('truetype');}</style>
<title>Word Memorizer - Change Password - <a href='/'>Go back to homepage</a></title>
<h1>Change Password</h1>
<p>{{ MESSAGE }}</p>
<form action="/changePassword" method="POST">
    <p>Old Password: <input type="password" name="oldpwd" /></p>
    <p>New Password: <input type="password" name="newpwd" /></p>
    <p>Confirm Password: <input type="password" name="cfmpwd" /></p>
    <input type="submit" value="Change" />
</form>