<script src="/static/js/jquery-3.6.0.min.js"></script>
<title>Word Memo - Export Data</title>
<h1>Export Data - <a href='/'>Go back to homepage</a></h1>
<br>
<p>You can export the data here.</p>
<p>There are two options for you to choose: Excel Table and Raw Database File</p>
<p>If you choose Excel Table, you will get all the words, translations and status in a .xlsx file which is human-readable.</p>
<p>If you choose Raw Database File, the server will directly send you the server database file after removing some sensitive data (such as your password).</p>
<p>Please note that the words and translations stored in the raw database file are encoded with base64. Status code are integars: {1: "Default", 2: "Tagged", 3: "Removed"}</p>
<p>And by the way, for server safety, you are not allowed to upload database directly.</p>
<br>
<p style="color:red">{{ MESSAGE }}</p>
<form action="/exportData" method="POST" enctype="multipart/form-data">
    <p>Type:
        <input type="radio" id="xlsx" name="exportType" value="xlsx" checked>
        <label for="xlsx">Excel Table File</label>
        <input type="radio" id="rawdb" name="exportType" value="rawdb">
        <label for="rawdb">Raw Database File</label>
    </p>
    <input type="userId" id="userId" name="userId" style="display:none;" />
    <input type="token" id="token" name="token" style="display:none;" />
    <input type="submit" value="Export" />
</form>
<script>
    $("#userId").val(localStorage.getItem("userId"));
    $("#token").val(localStorage.getItem("token"));
</script>

<style>
    .footer {
        z-index: -1; 
        position: fixed;
        right: 10;
        bottom: 0;
        width: 100%;
        text-align: right;
        font-family: Corbel;
    }
</style>
<div class="footer">
    <p>v4.1.1 &copy; Charles</p>
    <p>Contact: <a href="mailto:word@charles14.xyz">word@charles14.xyz</a></p>
</div>