<script src="/static/js/jquery-3.6.0.min.js"></script>
<title>Word Memo - Import Data</title>
<h1>Import Data - <a href='/'>Go back to homepage</a></h1>
<br>
<p>You can upload a new word list here, the file must be a .xlsx table.</p>
<p>The columns must contain 'Word','Translation'. (It can also contain other columns but Word and Translation are required)</p>
<p>'Status' is an optional column. If you set it, the script will decide the status of the word.</p>
<br>
<p>There are three types of upload you can choose: Append, Overwrite and Clear & Overwrite</p>
<p>If you choose Append, the uploaded words will be appended to existing database. Duplicate words may exist and you will be warned.</p>
<p>If you choose Overwrite, when duplicated words are found, they will be replaced by uploaded ones. Other words will be appended to existing database.</p>
<p>If you choose Clear & Overwrite, all the existing words will be deleted and only the uploaded ones will be kept.</p>
<p>Please note that if you search for a word which is duplicated, only the first-imported one will be shown.</p>
<br>
<p style="color:red">{{ MESSAGE }}</p>
<form action="/importData" method="POST" enctype="multipart/form-data">
    <p>File: <input type="file" name="file" /></p>
    <p>Type: 
        <input type="radio" id="append" name="updateType" value="append" checked>
        <label for="append">Append</label>
        <input type="radio" id="overwrite" name="updateType" value="overwrite">
        <label for="overwrite">Overwrite</label>
        <input type="radio" id="clear_overwrite" name="updateType" value="clear_overwrite">
        <label for="clear_overwrite">Clear & Overwrite</label>
    </p>
    <p>Check duplicate word? 
        <input type="radio" id="yes" name="checkDuplicate" value="yes" checked>
        <label for="yes">Yes</label>
        <input type="radio" id="no" name="checkDuplicate" value="no">
        <label for="no">No</label>
    </p>
    <input type="userId" id="userId" name="userId" style="display:none;" />
    <input type="token" id="token" name="token" style="display:none;" />
    <input type="submit" value="Import" />
</form>
<script>
    $("#userId").val(localStorage.getItem("userId"));
    $("#token").val(localStorage.getItem("token"));
</script>

<style>
    .footer {
       position: fixed;
       right: 10;
       bottom: 0;
       width: 100%;
       text-align: right;
       font-family: Corbel;
    }
</style>
<div class="footer">
    <p>v3.1.2 &copy; Charles</p>
</div>