<title>Word Memo</title>

<style>
    html,
    body {
        overflow: hidden;
    }

    table,
    th,
    td {
        text-align: center;
    }

    .footer {
        position: fixed;
        right: 10;
        bottom: 0;
        width: 100%;
        text-align: right;
        font-family: Comic Sans MS;
    }
</style>
<script src="/static/js/functions.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="/static/noty/themes/mint.css" rel="stylesheet">
<script src="/static/noty/noty.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="/static/dataTables/jquery.dataTables.min.css">
<script src="/static/dataTables/jquery.dataTables.min.js"></script>

<canvas id="canvas" width="1000" height="600"></canvas>
<input id="startfrom" type="text" style="display:none" />
<input id="addword_word" style="display:none" />
<textarea id="addword_translation" style="display:none"></textarea>

<table id="wordList" style="display:none">
    <thead>
        <tr>
            <th id="word">Word</th>
            <th id="translation">Translation</th>
            <th id="status">Status</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="/static/js/main.min.js"></script>

<div class="footer">
    <p>&copy; Charles</p>
</div>