<style>h1,h2,p,input{font-family: 'Comic Sans MS'; src: url('/static/ComicSansMS3.ttf') format('truetype');}</style>
<title>Word Memorizer - Upload Data</title>
<h1>Upload Data</h1>
<h2>You can upload a new word list here, the file must be a .xlsx table.</h2>
<h2>To prevent abusing, you must enter the upload password.</h2>
<h2>You can change password <a href="/changepwd">here</a></h2>
<p>{{ MESSAGE }}</p>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <p>Password: <input type="password" name="password" /></p>
    <p>File: <input type="file" name="file" /></p>
    <p>Type: 
        <input type="radio" id="append" name="uptype" value="append" checked>
        <label for="append">Append</label>
        <input type="radio" id="overwrite" name="uptype" value="overwrite">
        <label for="overwrite">Overwrite</label>
    </p>
    <input type="submit" value="Upload" />
</form>