<title>Word Memorizer</title>

<script src="/static/functions.min.js"></script>
<script src="/static/jquery-3.5.1.min.js"></script>
<link href="/static/themes/mint.css" rel="stylesheet">

<canvas id="canvas" width="1000" height="600"></canvas>
<input id="username" style="display:none" />
<input id="email" style="display:none" />
<input id="password" type="password" style="display:none" />
<input id="invitationCode" style="display:none" />

<script src="/static/user.js"></script>
<style>html,body{overflow:hidden;}</style>