<title>Word Memo</title>

<script src="/static/js/functions.min.js"></script>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<link href="/static/noty/themes/mint.css" rel="stylesheet">

<canvas id="canvas" width="1000" height="600"></canvas>
<input id="username" style="display:none" />
<input id="email" style="display:none" />
<input id="password" type="password" style="display:none" />
<input id="invitationCode" style="display:none" />

<input id="oldpwd" type="password" style="display:none" />
<input id="newpwd" type="password" style="display:none" />
<input id="cfmpwd" type="password" style="display:none" />

<script src="/static/js/user.min.js"></script>

<style>.footer{ position: fixed; right: 10; bottom: 0; width: 100%; text-align: right; font-family: Corbel;}</style>
<div class="footer">
    <p>v3.1.3 &copy; Charles</p>
</div>